<phpunit bootstrap="testing/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="projectcleverweb\semantic-ui-wordpress">
			<directory>testing/tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory>src/includes/classes</directory>
			<file>src/includes/custom-functions.php</file>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-text" target="php://stdout" />
	</logging>
</phpunit>
